*{
    margin: 0;
    padding: 0px;
    font-family: 'Times New Roman', Times, serif;
}
nav{
    background-color:black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    top: 0px;
}
nav ul{
    display: flex;
} 
nav ul li{
   display: flex; 
   justify-content: space-between;
}
nav ul li a{
    display: flex;
    justify-content: space-between;
    margin: 30px;
    color: white;
    text-decoration: none;
}
span{
    color:orange;
}
#home{
    display: flex;
    flex-direction: column;
    height:650px;
}

#home{
    display: flex;
    flex-direction: column;
    height:700px;
}
#home::before{
    content: '';
    position: absolute;
    background-image: url('https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fHRyYXZlbGxpbmd8ZW58MHx8MHx8fDA%3D&w=1000&q=80');
  height: 650px;
  width: 100%;  
  background-size: cover;
  background-position: center;
  z-index: -1;

}
.main{
    
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 25%;
    z-index: -1; 
    color:white;
    text-align: center;


}
#trans{
    animation-duration: 1s;
    animation-name: pulse;
animation-iteration-count: 3s;
}
@keyframes pulse{
    from {
        margin-left: 50%;
    }
    to {
        margin-left: 0%;
    }
}


.main
h1{
    border: none;
    color:yellow;
    top: 55%;
    text-align: center;
    bottom: 50%;

}
img{
    
    width: 250px;
    border: none;
    background: linear-gradient( to top,yellow 50%,white);
    border-radius: 50px;

    
 }
 .col1{
    width:400px;
    height: 450px;
    border-radius: 50px;

    text-align: center;
 }
 .col2{
    width:400px;
    height: 450;
    text-align: center;

 }
 .col3{
    width:400px;
    height: 750;
    border-radius: 50px;
    text-align: center;

 }
 .col4{
    width:400px;
    height: 550;
    text-align: center;
 }

 .heading{
    

    font-weight: 900;
    font-size: 30px;

}

.gallery{
    align-items: center;

 
    
}
.gallery img{
    width: 500px;
    height: 400px;
 
    
}
.gallery img:hover{
    border: 2px ridge white;
    box-shadow: 4px 3px 2px 3px white;
    width: 500px;
    height: 400px;

}



.heading1{
    

    font-weight: 900;
    font-size: 30px;

}

.container11{
    align-items: center;


    
}
.container11 img{
    width: 500px;
    height: 500px;
   
}
.container11 img:hover{
    
    border: 2px ridge white;
    box-shadow: 4px 3px 2px 3px white;
    width: 500px;
    height: 500px;
}





.container1{
    align-items: center;
    
}
.container1 img{
    width: 100%;
    height: 200px;
    
}
.container1 img:hover{
    border: 2px ridge white;
    box-shadow: 4px 3px 2px 3px white;
    width: 100%;
    height: 200px;
    
}


.container2{
    align-items: center;
 
    
}
.container2 img{
    width: 100%;
    height: 200px;
 
}
.container2 img:hover{
    border: 2px ridge white;
    box-shadow: 4px 3px 2px 3px white;
    width: 100%;
    height: 200px;
 
}

.travel{
    align-items: center;
    
}
.travel img{
    width: 100%;
    height: 200px;

    
}
.travel img:hover{
    border: 2px ridge white;
    box-shadow: 4px 3px 2px 3px white;
    width: 100%;
    height: 200px;
    border-radius: 50%;
 
}

.container3{
    align-items: center;
    
}
.container3 img{
    width: 100%;
    height: 200px;
    
}
.container3 img:hover{
    border: 2px ridge white;
    box-shadow: 4px 3px 2px 3px white;
    width: 100%;
    height: 200px;


}
.container4{
    align-items: center;
    
}
.container4 img{
    width: 100%;
    height: 200px;
    
}
.container4 img:hover{
    border: 2px ridge white;
    box-shadow: 4px 3px 2px 3px white;
    width: 100%;
    height: 200px;
    transform: scale(1.1) rotate(-5deg);


    
}


